<section>
<div class="row">
  <h1>本音をつぶやいても炎上しません。</h1>
  <p>
    胸の内にある本音つぶやきましょう。<br>
    ここでつぶやいても決して炎上しません。
  </p>
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="twitter-image">
      <img src="<%= asset_path "twitter.png" %>">
    </div>
    <div class="tweet-btn btn btn-primary btn-block">
      早速つぶやいてみる
    </div>
</div>
      </div>
</section>